<h1>{{categoria.nome}}</h1>
{{#each posts}}
<div class="card mt-4">
    <div class="card-body mt-2">
        <h3>{{titulo}}</h3>
        <p>Descrição: {{descricao}}</p>
        <a href="/post/{{slug}}"><button class="btn btn-info">Leia mais</button></a>
        <hr>
        <small>Data de publicação: {{#formatDate data}}{{/formatDate}}</small>
    </div>
</div>
{{else}}
    <h5>Ainda não há postagens!</h5>
{{/each}}